/buildgraph.o
/combustion.mac
/combustion.o
/distribution.o
/dvm.o
/graph.o
/io.o
*.yy.o
/main.o
/print.o
/read_back.o
/run.0.log
/run.1.log
/runold.0.log
/runold.1.log
/symbolic.o
/y.tab.o
/Makefile
/lex.yy.c
/y.output
/y.tab.c
/y.tab.h
/.vscode/c_cpp_properties.json
*.log
