/buildgraph.o
/combustion.mac
/combustion.o
/distribution.o
/dvm.o
/graph.o
/io.o
*.yy.o
/main.o
/print.o
/read_back.o
/run*.log
/out*.log
/symbolic.o
/y.tab.o
/lex.yy.c
/y.output
/y.tab.c
/y.tab.h
/.vscode/
/DAT/
/pelcrexamples/DAT/
/cianf-NEW_PELCR.tgz
/out.err
/parser.tab.o
/Makefile.head
/out-dd4-16.log
/out-dd4-32.log
/out-dd5-16.log
/out-dd5-32.log
/out-dd5-40.log
/out-dd5-64.log
/out-dd5-80.log
/out16.log
/out40.log
/parser.output
/parser.tab.c
/parser.y
/print.c
/read_back.c
/run.10.log
/run.11.log
/run.12.log
/run.13.log
/run.14.log
/run.15.log
/run.16.log
/run.17.log
/run.18.log
/run.19.log
/run.2.log
/run.20.log
/run.21.log
/run.22.log
/run.23.log
/run.24.log
/run.25.log
/run.26.log
/run.27.log
/run.28.log
/run.29.log
/run.3.log
/run.30.log
/run.31.log
/run.32.log
/run.33.log
/run.34.log
/run.35.log
/run.36.log
/run.37.log
/run.38.log
/run.39.log
/run.4.log
/run.40.log
/run.41.log
/run.42.log
/run.43.log
/run.44.log
/run.45.log
/run.46.log
/run.47.log
/run.48.log
/run.49.log
/run.5.log
/run.50.log
/run.51.log
/run.52.log
/run.53.log
/run.54.log
/run.55.log
/run.56.log
/run.57.log
/run.58.log
/run.59.log
/run.6.log
/run.60.log
/run.61.log
/run.62.log
/run.63.log
/run.64.log
/run.65.log
/run.66.log
/run.67.log
/run.68.log
/run.69.log
/run.7.log
/run.70.log
/run.71.log
/run.72.log
/run.73.log
/run.74.log
/run.75.log
/run.76.log
/run.77.log
/run.78.log
/run.79.log
/run.8.log
/run.9.log
/runold.10.log
/runold.11.log
/runold.12.log
/runold.13.log
/runold.14.log
/runold.15.log
/runold.16.log
/runold.17.log
/runold.18.log
/runold.19.log
/runold.2.log
/runold.20.log
/runold.21.log
/runold.22.log
/runold.23.log
/runold.24.log
/runold.25.log
/runold.26.log
/runold.27.log
/runold.28.log
/runold.29.log
/runold.3.log
/runold.30.log
/runold.31.log
/runold.32.log
/runold.33.log
/runold.34.log
/runold.35.log
/runold.36.log
/runold.37.log
/runold.38.log
/runold.39.log
/runold.4.log
/runold.40.log
/runold.41.log
/runold.42.log
/runold.43.log
/runold.44.log
/runold.45.log
/runold.46.log
/runold.47.log
/runold.48.log
/runold.49.log
/runold.5.log
/runold.50.log
/runold.51.log
/runold.52.log
/runold.53.log
/runold.54.log
/runold.55.log
/runold.56.log
/runold.57.log
/runold.58.log
/runold.59.log
/runold.6.log
/runold.60.log
/runold.61.log
/runold.62.log
/runold.63.log
/runold.7.log
/runold.8.log
/runold.9.log
/pelcrexamples/ciccio.gml
/pelcrexamples/ciccio.graphml
